<div class="container " style="margin-top: 30px; padding: 40px;">
  <div class="row">
    <div class="col-12 col-lg-2" style="padding-bottom: 10px">
      <div id="desks">
        <%= render "bookings/desks", desks: @desks %>
      </div>
    </div>
    <div class="col-12 col-lg-10" style="padding-top: 0px">
      <div id="calendar">
      </div>
    </div>
  </div>
  <div style="text-align: right">
    <%= link_to 'export pdf', pdf_ready_bookings_path, target: '_blank'%>
    <%= link_to 'import csv', "#", :id => 'modal', "data-toggle" => "modal", 'data-target' => '#exampleModal' %>
    <%= link_to 'add desk', new_desk_path %>
  </div>
</div>

<!-- Modal for csv -->
<% if current_user.admin %>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_tag import_bookings_path, multipart: true do %>
        <%= file_field_tag :file %>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Import</button>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>


<div class="container chart">
  <figure>
  <figcaption>Nombre de jour disponibles par mois par bureau</figcaption>
<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="chart" width="420" height="150" aria-labelledby="title" role="img">
  <title id="title">Nombre de jour libre dans le mois</title>
  <% @desks_chart.each_with_index do |desk, index|  %>
  <g class="bar" transform="translate(0,<%= index*20 + 9  %>)">
    <text  dy=".35em"><%=desk.color  %></text>
    <rect width="<%=desk.freedays * 10 %>" height="19" x="60" transform="translate(0,<%= -9  %>)"></rect>
    <text x="<%= desk.freedays * 10 + 5 + 60 %>" dy=".35em"><%=desk.freedays  %></text>
  </g>
  <% end %>
</svg>
</figure>
</div>

