
<h1>Reservation de bureaux en date du <%= Date.today %></h1>
<div class="container">
<table class="largeur">
  <thead>
    <tr>
      <th>Nom du Bureau</th>
      <th>User</th>
      <th>Début de réservation</th>
      <th>Fin de réservation</th>
    </tr>
  </thead>
  <tbody>
    <% @bookings.each do |booking| %>
    <tr>
      <td><%= booking.desk.name  %></td>
      <td><%= booking.user.email%> </td>
      <td><%= booking.start_date %></td>
      <td><%= booking.end_date %></td>
    </tr>
    <% end %>
  </tbody>
</table>
</div>
