<div class="container" style="margin-top: 30px; padding: 40px;">
<div class="row">
  <div class="col-12 col-lg-4" style="padding-top: 0px">
<div id="calendar"></div>
<%= simple_form_for :search, url: desks_path, method: "GET", remote: true do |f| %>
  <%= f.input :start_date, as: :date, html5: true, as: :hidden%>
  <%= f.input :end_date, as: :date, html5: true, as: :hidden%>
  <%= f.input :query, label: "Nom du bureau" %>
  <%= f.input :address, label: "rechercher à proximité" %>
  <%= f.input :prestations, label: "Prestations", collection: @prestations, as: :check_boxes %>
  <%= f.submit "Search", class: "btn btn-primary" %>
  <%= link_to "Reset", desks_path, id: "reset-btn",  remote: true  %>
<% end %>
</div>
    <div class="col-12 col-lg-8" style="padding-top: 0px">
    <%= render 'list_of_desks'  %>
    </div>
  </div>
</div>


 <%= render 'map'  %>





